@page "/application-response/"

@model ApplicationResponseModel

@{
    Layout = "_LayoutNoBackLink";
    ViewBag.PreviousUrl="/";
    ViewData["Title"] = Localizer["application-response.header_title"];
}

<div class="row govcy-px-2">
    <div class="govcy-alert-completed-notification govcy-px-0">
        <div class="govcy-alert-completed-notification-body govcy-bg-success"> 
            <h1>@Localizer["application-response.header_title"]</h1> 
            <p class="govcy-mb-0">@Localizer["application-response.header_ref"] @Model._applResponse</p> 
        </div>
    </div>
</div>