@page "/cookie-policy"

@model CookiePolicyModel

@{
    ViewBag.PreviousUrl=Model.BackLink;
     ViewData["Title"] = Localizer["cookie-policy.title"];
}

<h1>@Localizer["cookie-policy.title"]</h1>
@Localizer.GetPagesLocalizedHtml("cookie-policy.instructions")

