@page "/privacy-statement"

@model PrivacyStatementModel

@{
    ViewBag.PreviousUrl=Model.BackLink;
    ViewData["Title"] = Localizer["privacy-statement.title"];
}

<h1>@Localizer["privacy-statement.title"]</h1>
@Localizer.GetPagesLocalizedHtml("privacy-statement.instructions")
