@page "/server-error"
@model DSF.AspNetCore.Web.Pages.ServerErrorModel


@{
    Layout = "_LayoutNoBackLink";
    ViewData["Title"] = Localizer["server-error.title"];
}
<h1>@Localizer["server-error.title"]</h1>
@Localizer.GetPagesLocalizedHtml("server-error.instructions")