@page "/user-satisfaction-response"
@model DSF.MOI.CitizenData.Web.Pages.UserSatisfactionResponse
@{
    Layout = "_LayoutNoBackLink";
    ViewData["Title"] = Localizer["user-satisfaction-response.title"];
}

<div class="govcy-mb-4">
    <div class="govcy-alert-completed-notification govcy-px-0 govcy-mb-4">
        <div class="govcy-alert-completed-notification-body govcy-bg-success">
            <h1>@Localizer["user-satisfaction-response.Success_title"]</h1>
        </div>
    </div>
    @Localizer.GetPagesLocalizedHtml("user-satisfaction-response.Success_body");

    <form method="post" novalidate class="govcy-form">
        <button type="submit" class="govcy-btn-primary  govcy-mb-4">@Localizer["common.button_next"]</button>
    </form>

</div>