@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<Program> Localizer
@inject IHtmlLocalizer<Program> HtmlLocalizer
@model CookiePolicyModel
<h1>@Localizer["CookiePolicy_Title"]</h1>
@HtmlLocalizer["CookiePolicy_Instructions"]
