@page "/cookie-policy"
@using Dsf.Service.Template.Resources
@inject IResourceViewlocalizer Localizer
@model CookiePolicyModel
@{
    ViewBag.PreviousUrl=Model.BackLink;
     ViewData["Title"] = Localizer["cookie-policy.title"];
}
<h1>@Localizer["cookie-policy.title"]</h1>
@Localizer.GetPagesLocalizedHtml("cookie-policy.instructions")

