@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<Program> Localizer
@model IndexModel
@{
    ViewData["Title"] = "Mock Citizen Personal Data Service";
}

    <h1>Mock Service Purpose Summary</h1>
    <p>This service is demo that contains the following:</p>
    <p>1-How to implement federated login mechanism with Cy Login</p>
    <p>2-View a proposed project structure for service development</p>
    <p>3-Set up access to our design system with example pages (see layout Page)</p>
    <p>4-Provide out of the box Multilanguage Support</p>
    <p>5-Get indications How we use our Edit,View,Review,Success submission Pages</p>
    <p>6-Provide some Guidance on our must implement statistic Api Call and Calling Api samples</p>
    <p>7-See our proposed server side validation mechanism (Fluent Validation)</p>
    <p>8-Handling Session time Out and store data in sessions during the service journey</p>
    <p>9-See our sample Unit Tests</p>
   
    <div>
    <form asp-page-handler="ApplicationStart">        
        <button type="submit" class="govcy-btn-primary" id="btnApplicationStart">
            @Localizer["Button_Get_Started"]
        </button>
    </form>
    @*<a href="ChildrenList" class="govcy-btn-primary" style="color:#FFF">@HtmlLocalizer["Button_Get_Started"]</a>*@
   </div>
