@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<Program> Localizer
@inject IHtmlLocalizer<Program> HtmlLocalizer
@model IndexModel
@{
    ViewData["Title"] = "Mock Citizen Personal Data Service";
    Layout = "_LayoutNoBackLink";
}
    <h1>@Localizer["Index_Heading"]</h1>
    @HtmlLocalizer["Index_Instructions"]
    <div>
    <form asp-page-handler="ApplicationStart">        
        <button type="submit" class="govcy-btn-primary" id="btnApplicationStart">
            @Localizer["Button_Get_Started"]
        </button>
    </form>
    @*<a href="ChildrenList" class="govcy-btn-primary" style="color:#FFF">@HtmlLocalizer["Button_Get_Started"]</a>*@
   </div>
