@page "/no-valid-profile"
@using dsf_service_template_net6.Resources
@inject IResourceViewlocalizer Localizer
@model  NoValidProfileModel
@{
 Layout = "_LayoutNoBackLink";
 ViewData["Title"] = Localizer["no-valid-profile.title"];
}
<h1>@Localizer["no-valid-profile.title"]</h1>
@Localizer.GetPagesLocalizedHtml("no-valid-profile.instructions")
