@page "/privacy-statement"
@using dsf_service_template_net6.Resources
@inject IResourceViewlocalizer Localizer
@model PrivacyStatementModel
@{
    ViewBag.PreviousUrl=Model.BackLink;
     ViewData["Title"] = Localizer["privacy-statement.title"];
}
<h1>@Localizer["privacy-statement.title"]</h1>
@Localizer.GetPagesLocalizedHtml("privacy-statement.instructions")
