@page "/server-error"
@using dsf_service_template_net6.Resources
@model dsf_service_template_net6.Pages.ServerErrorModel
@inject IResourceViewlocalizer Localizer
@{
    Layout = "_LayoutNoBackLink";
    ViewData["Title"] = Localizer["server-error.title"];
}
<h1>@Localizer["server-error.title"]</h1>
@Localizer.GetPagesLocalizedHtml("server-error.instructions")